{% extends 'AdminLTE/index.html' %}

{% block content %}
	<h1>Factura</h1>

	<table class="table">
		<thead>
			<tr>
				
				<th>Id</th>
				<th>Fecha</th>
				<th>Fecha Actualización</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			{% for factura in object_list %}
				<tr>
					<td>{{ factura.pk }}</td>
					<td>{{ factura.fecha_creacion }}</td>
					<td>{{ factura.factualizacion }}</td>
					<td>{{ factura.valor_total }}</td>

					<td><a href="{% url 'ver_factura_detalle' factura.pk %}">Ver</a></td>
				</tr>
			{% empty %}
				<tr>
					<td>Sin factura</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class="btn btn-success" href="{% url 'facturacion' %}">Crear</a>
{% endblock content %}
