{% extends 'AdminLTE/index.html' %}
{% load humanize %}

{% block content %}
	<h1>HIstorial de Movimientos {{producto.nombre}}</h1>
	<div>
		<p>
			Cantidad Total: {{ producto.cantidad }}
		</p>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>Id</th>
				<th>Fecha</th>
				<th>Tipo</th>
				<th>Cantidad</th>
				<th>Valor</th>
				<th>Valor Total</th>
			</tr>
		</thead>
		<tbody>
			{% for movimientodetalle in movimientosdetalle %}
				<tr
					data-tipo-movimiento="{{ movimientodetalle.movimiento.tipo.slug }}"
				>
					<td
						class="{% if movimientodetalle.movimiento.tipo.slug == 'input' %} bg-success {% else %} bg-danger {% endif %}"
					>
						{% if movimientodetalle.movimiento.tipo.slug == 'input' %}
							+
						{% else %}
							-
						{% endif %}
					</td>
					<td>
						{{ movimientodetalle.pk }}
						{% if movimientodetalle.movimiento.factura %}
							<a href="{% url 'ver_factura_detalle' movimientodetalle.movimiento.factura.id %}"> Factura #{{movimientodetalle.movimiento.factura.id}} </a>
						{% endif %}
					</td>
					<td>{{ movimientodetalle.movimiento.fecha_creacion | date:'Y-m-d' }}</td>
					<td>{{ movimientodetalle.movimiento.tipo }}</td>
					<td>{{ movimientodetalle.cantidad }}</td>
					<td>{{ movimientodetalle.valor | intcomma }}</td>
					<td>{{ movimientodetalle.valor_total  | intcomma }}</td>
				</tr>
			{% empty %}
				<tr>
					<td>Sin Movimientos</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock content %}
