{% extends 'AdminLTE/index.html' %}
{% load bootstrap %}
{% load static %}

{% block content %}

<form method="post" role="form">
    <legend>Clientes</legend>
    {% csrf_token %}
    {{ form|bootstrap }}

	<div class="form-group bmd-form-group is-filled">
		<label for="id_ruta_activa" class="control-label   bmd-label-static">Dirección</label>
		<div class=" ">
			<input
			id="map-address"
			maxlength="1" class="form-control"
			>
		</div>
	</div>
	<button type="button" class="btn btn-primary mb-5" id="current"> Posicion Actual</button>
	<div id="g-map" style="width: 500px; height: 400px;"></div>

    <div class="form-group mt-5">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>


{% endblock content %}
{% block scripts %}
	<script type="text/javascript" src='https://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyDQaI3XPsGza_9EDO3z8Ob-hvRMjdTSfcY'></script>
	<script src="{% static 'js/jquery-locationpicker-plugin/dist/locationpicker.jquery.js' %}"></script>
	<script>
		$('#g-map').locationpicker({
			location: {
				latitude: 4.304709,
				longitude: -74.803034
			},
			radius: 300,
			inputBinding: {
				latitudeInput: $('#id_pos_x'),
				longitudeInput: $('#id_pos_y'),
				locationNameInput: $('#map-address')
			},
			enableAutocomplete: true,
			onchanged: function (currentLocation, radius, isMarkerDropped) {
			}
		});
	</script>
	<script type="text/javascript">
		function localizacion(posicion, event){
			alertify.success("Posición Encontrada")

			var latitude = posicion.coords.latitude;
			var longitude = posicion.coords.longitude;

			event.type = "change"
			$("#id_pos_x").val(latitude).trigger(event)
			$("#id_pos_y").val(longitude).trigger(event)

		}

		function error(){
			alertify.error("Error encontrando la posición.")
		}

		$("#current").click(function(event){
			alertify.success("Buscando posición...")
			navigator.geolocation.getCurrentPosition((position) => {
				localizacion(position, event)
			}, error);
		})
	</script>
{% endblock scripts %}
