{% extends 'AdminLTE/index.html' %}

{% block content %}
	<h1>Clientes</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Nombre Tienda</th>
				<th>Regimen</th>
				<th>direccion</th>
				<th>telefono</th>
				<th>Ruta</th>
				<th>Orden</th>
				<th>Editar</th>
				<th>Borrar</th>
			</tr>
		</thead>
		<tbody>
			{% for cliente in object_list %}
				<tr>
					<td>{{ cliente.nombre }}</td>
					<td>{{ cliente.apellido }}</td>
					<td>{{ cliente.nombre_tienda }}</td>
					<td>{{ cliente.regimen }}</td>
					<td>{{ cliente.direccion }}</td>
					<td>
						<input
							type="checkbox"
							data-cliente="{{cliente.id}}"
							{% if cliente.ruta_activa == '1' %}
								checked
							{% endif %}
							onclick="toggleStatus(event)"
						/>
					</td>
					<td>
						<input type="number" data-cliente="{{cliente.id}}" value="{{cliente.orden_ruta}}" onchange="setOrdenRuta(event)" />
					</td>
					<td>{{ cliente.telefono }}</td>

					<td><a href="{% url 'actualizar_cliente' cliente.pk %}">Editar</a></td>
					<td><a href="{% url 'borrar_cliente' cliente.pk %}">Borrar</a></td>
				</tr>
			{% empty %}
				<tr>
					<td>Sin cliente</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class="btn btn-success" href="{% url 'crear_cliente' %}">Crear</a>
{% endblock content %}
{% block scripts %}
	<script>
		function toggleStatus(event){
			var status = event.target.checked
			var id = event.target.dataset.cliente

			$.ajax({
				url: `/clientes/${id}/ruta/set/status/`,
				type: "POST",
				success: function (response) {
				}
			})
		}
		function setOrdenRuta(event){
			var orden = event.target.value
			var id = event.target.dataset.cliente

			$.ajax({
				url: `/clientes/${id}/ruta/set/orden/${orden}`,
				type: "POST",
				success: function (response) {
				}
			})
		}
	</script>
{% endblock scripts %}
