{% extends 'index.html' %}
{% block content %}
	<h1>Clientes</h1>

	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Nombre Tienda</th>
				<th>Regimen</th>
				<th>direccion</th>
				<th>Editar</th>
				<th>Borrar</th>
			</tr>
		</thead>
		<tbody>
			{% for cliente in object_list %}
				<tr>
					<td>{{ cliente.nombre }}</td>
					<td>{{ cliente.apellido }}</td>
					<td>{{ cliente.nombre_tienda }}</td>
					<td>{{ cliente.regimen }}</td>
					<td>{{ cliente.direccion }}</td>
					<td><a href="{% url 'actualizar_cliente' cliente.pk %}">Editar</a></td>
					<td><a href="{% url 'borrar_cliente' cliente.pk %}">Borrar</a></td>
				</tr>
			{% empty %}
				<tr>
					<td>Sin cliente</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock content %}
