{% extends 'AdminLTE/index.html' %}

{% block content %}
	<h1>proveedores</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Cedula</th>
				<th>Empresa</th>

			</tr>
		</thead>
		<tbody>
			{% for distribuidor in object_list %}
				<tr>
					<td>{{ proveedor.nombre }}</td>
					<td>{{ proveedor.apellido }}</td>
					<td>{{ proveedor.cedula }}</td>
					<td>{{ proveedor.empresa }}</td>
					<td><a href="{% url 'actualizar_proveedor' proveedor.pk %}">Editar</a></td>
					<td><a href="{% url 'borrar_proveedor' proveedor.pk %}">Borrar</a></td>
				</tr>
			{% empty %}
				<tr>
					<td>Sin proveedor</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>	
					<button class="btn btn-success"><a href="{% url 'crear_proveedor' %}">Crear</a></button>

{% endblock content %}
