{% extends 'AdminLTE/index.html' %}

{% block content %}
	<form method="post" id="form">
		<input type="hidden" id="inventario_pk">

		{% csrf_token %}
		{{ form.as_p }}
	</form>

	<form method="post" id="form_detalle" @submit.prevent="invFormCreateAddDetalle">
		{% csrf_token %}
		{{ form_detalle.as_p }}
		<input type="submit" value="Guardar" />
	</form>
<table class="table">
	<thead>
		<tr>
			<th> producto </th>
			<th> cantidad </th>
			<th> valor </th>
			<th> valor_total </th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="producto in inventarios.forms.create.productos">
			<td> [[ producto.producto ]] </td>
			<td>
				<input v-model="producto.cantidad" @change="invFormCreateUpdateeVT(producto)" type="number"> </td>
			<td>
				<input v-model="producto.costo" @change="invFormCreateUpdateeVT(producto)" type="number"> </td>
			<td> [[ producto.valor_total ]] </td>
			<td>
				<button @click="invFormCreateDeleteProducto(producto)">Borrar</button>
			</td>
		</tr>
	</tbody>
</table>
<input type="button" value="Facturar" @click="invFormCreateFacturar" />

{% endblock content %}

{% block scripts %}
	<script type="text/javascript">
	$("#id_inventario").closest("p").remove()


	</script>
{% endblock scripts %}
