{% extends 'AdminLTE/index.html' %}

{% block content %}
	<h1>Inventario</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>fecha_creacion</th>
				<th>factualizacion</th>
			</tr>
		</thead>
		<tbody>
			{% for inventario in object_list %}
				<tr>
					<td>{{ inventario.pk }}</td>
					<td>{{ inventario.fecha_creacion }}</td>
					<td>{{ inventario.factualizacion }}</td>
					<td><a href="{% url 'ver_inventario_detalle' inventario.pk %}">Ver</a></td>
					
				</tr>
			{% empty %}
				<tr>
					<td>Sin inventario</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<button class="btn btn-success"><a href="{% url 'inventario' %}">Crear</a></button>
{% endblock content %}
