{% extends 'AdminLTE/index.html' %}

{% block content %}
	<form method="POST" id="form" action="{% url 'ReporteVentasTotal' %}" target="_blank">
		{% csrf_token %}
		<!--<select name="distribuidor">
			{% for distribuidor in distribuidores %}
				<option value="{{ distribuidor.pk }}">{{ distribuidor.nombre }}</option>
			{% endfor %}
		</select>-->
		<h1>ingrese fecha de facturacion</h1>
		<input type="text" name="fini">
		<input type="text" name="ffin">
		<input type="submit" class="btn btn-success" value="ver" />
	</form>
{% endblock content %}

{% block scripts %}
	<script type="text/javascript">
	</script>
{% endblock scripts %}
