{% extends 'AdminLTE/index.html' %}
{% load humanize %}

{% block content %}
	<h1>
		Reporte de Ventas
		{% if config.cliente %} a {{ config.cliente.nombre }} {% endif %}
		desde {{ config.fini }} hasta {{ config.ffin}}
	</h1>

	<table class="table">
		<thead>
			<tr>
				<th>id</th>
				<th>Fecha</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			{% for factura in facturas %}
				<tr>
					<td>{{ factura.pk }}</td>
					<td>{{ factura.fecha_creacion }}</td>
					<td>${{ factura.valor_total|intcomma}}</td>
				</tr>
			{% endfor %}
			<tr>
				<td>Total</td>
				<td></td>
				<td>${{ vttotal|intcomma }}</td>
			</tr>
		</tbody>
	</table>
<div id="piechart" style="width: 900px; height: 500px;"></div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', { packages: ['corechart', 'bar'] });

	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
		var header = [['Mes', 'Ventas']];
		var data = {{ json| safe }};

	var final = header.concat(data)
	console.log(final)
	var data = google.visualization.arrayToDataTable(final);

	var options = {
		title: `
				Ventas Mensuales {% if config.cliente %} a {{ config.cliente.nombre }} {% endif %}
				desde {{ config.fini }} hasta {{ config.ffin }}
			`
	};

	// var chart = new google.visualization.PieChart(document.getElementById('piechart'));
	var chart = new google.visualization.ColumnChart(document.getElementById('piechart'));

	chart.draw(data, options);
	}
</script>
{% endblock scripts %}
